
.title {
    position: absolute;
    top: 1%;
    left: 35%;
    font-size: 25px;
    font-family: "Courier New"
}

#mynetwork {
    width: 100vw;
    height: 800px;
    border: 1px solid lightgray;
    top:15px;

}

div.vis-network {
  background-color: AliceBlue ;
  top:5%;
}
